@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700;9..40,1000&display=swap');

body {
    /* border: solid salmon; */
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgb(53, 53, 53);
}

#header {
    /* border: solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 44, 44);
    height:100px;
}

#header-text {
    /* border: solid gold; */
    color: blanchedalmond;
    font-family: 'DM Sans', sans-serif;
    font-size: xxx-large;
    font-weight: bold;
}

#round-winner {
    /* border: solid greenyellow; */
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

#round-winner p {
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    color: blanchedalmond;
    font-size: xx-large;
    margin: 5px;
}

#round-winner #who-won {
    /* border: solid red; */
}

#round-winner #why-winner {
    /* border: solid red; */
    font-size: x-large;
}

#versus {
    /* border: solid rgb(97, 49, 6); */
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 35px;

    font-family: 'DM Sans', sans-serif;
    color: blanchedalmond;
}

#versus img {
    width: 150px;
}

#versus p {
    font-size: x-large;
    font-weight: bold;
}

#player-choice, #computer-choice {
    /* border: solid salmon; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#options {
    /* border: solid red; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;

}

#options img {
    width: 120px;
    /* border: solid red; */
}

#options button {
background: rgb(65, 57, 50); border-radius: 2em; border: 3px solid rgb(241, 187, 10); color: rgb(55, 0, 0); cursor: pointer; font-weight: bold; outline: none; padding: 1.25em 2em; position: relative; text-transform: uppercase; transform-style: preserve-3d; transition: all 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}

#options button::before {
background: rgb(41, 38, 38); border-radius: inherit; box-shadow: rgb(41, 38, 38) 0px 0px 0px 2px, rgb(41, 38, 38) 0px 0.6em 0px 0px; content: ""; height: 100%; left: 0px; position: absolute; top: 0px; transform: translate3d(0px, 0.75em, -1em); transition: all 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s; width: 100%;
}

#options button:hover {
color: rgb(55, 0, 0); transform: translate(0px, 0.25em); background: rgb(41, 38, 38);
}

#options button:hover::before {
box-shadow: rgb(41, 38, 38) 0px 0px 0px 2px, rgb(41, 38, 38) 0px 0.45em 0px 0px; transform: translate3d(0px, 0.5em, -1em);
}

#options button:active {
background: rgb(58, 54, 54); color: rgb(41, 38, 38); transform: translate(0px, 0.75em);
}

#options button:active::before {
box-shadow: rgb(41, 38, 38) 0px 0px 0px 3px, rgb(41, 38, 38) 0px 0px; transform: translate3d(0px, 0px, -1em);
}

